<h2>Tasks completed by <%= user.name %> </h2>

<% if user.tasks.count > 0 %>
    <% user.tasks.completed.each do |task| %>
        <%= link_to task.notes, project_path(task.project) %>
        <% end %>
    <% else %>
        <p>No projects completed</p>
<% end %>