<h2>Projects completed by <%= user.name %> </h2>

<% if user.completed_tasks.count > 0 %>
    <% user.completed_tasks.each do |task| %>
        <%= link_to task.notes, project_path(task.project) %>
        <% end %>
    <% else %>
        <p>No projects completed</p>
<% end %>