<h2>Projects for <%= user.name %></h2>

<% if user.tasks.count > 0 %>
    <% user.pending_tasks.each do |task| %>
    <% task.project.name %>
    <% end %>
<% else %>
    <p>You have no projects</p>
<% end %>

<%= link_to "#{user.name}'s Completed Projects", user_complete_path(user.team, user) %>